@import "tailwindcss";
html {
    scroll-behavior: smooth;
  }
  .slider-container {
    overflow: visible !important;
  }
  .slider-container {
    position: relative;
    z-index: 10;
    overflow: visible;
  }
  